@model IEnumerable<Mi_Negocio.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Direcciones</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nueva Dirección</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.direccionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calleDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioId)
            </th>
             <th>
             <!-- #region   -->Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.direccionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calleDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioId)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Usuario.nombre) @Html.DisplayFor(modelItem => item.Usuario.apellido) 
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.estado,"Estado")
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.direccionId" class="btn btn-warning">Editar</a> |
                <a asp-action="Detalles" asp-route-id="@item.direccionId" class="btn btn-info">Detalles</a> |
               
               
                 <form asp-action="Delete" asp-route-id="@item.direccionId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este producto?');">Eliminar</button>
                    </form>
            </td>

        </tr>
}
    </tbody>
</table>